/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  /* GLOBAL STYLES */

  :root {
    --primary-color: #700983;
    --secondary-color: #f1f1f1;
    --text-color: #1f1f1f;
    --hover-text-color: #f1f1f1;
    --background-color: #f1f1f1;
    --hover-background-color: #700983;
    --white: #ffffff;
}


body {
    font-family: "Atkinson Hyperlegible Next", serif;
    color: var(--text-color);
    background-color: var(--white);
}





/*  SIDE BAR  */
.sidebar {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.navigation{
    
    padding: 2rem 1rem 2rem 1rem;
    
}

.navigation > h3{
    font-size: 0.8rem;
    padding-bottom: 10px;
}

.navigation > ul{
    padding: 0;
    list-style-position: inside;
}

.navigation > ul > li {
    list-style-type: none;
    width: 100%;
    font-size: 20px;
    padding: 1.2rem;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    gap: 5px;
    align-items: center;
}

.navigation > ul > li > a {
    text-decoration: none;
    width: 100%;
    color: inherit;
    display: block;
}

.navigation > ul > li:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
}


.sidebar-header {
  display: flex;
    justify-content: center;
    align-items: center;
}

img {

    width: 100px;

}








